/TalendTest2/
/CATfx_Edge123/
/CATfx_Edge321/
/CATfx_Edge33333333333/
/CATfx_Edge/
/TalendTest/
/TalendTest4/
/TalendForward/
/TalendTest12/
/TalendTest321/
/MTM/
/Folder/
/MapTest122/
/MT/
/MT23/
/Naman1/
/Folder1/
/Naman2/
/MTT/
/M2020/
/MAP2020/
/M/
/MTest2020/
/MT2020/
/22/
/Patn/
/MTalend2020/
/TLND2020/
/Talend2020/
/MTMM/